.editorconfig
.gitattributes
.gitignore
.dockerignore

tmp
vendor
web/core
web/libraries
web/modules/contrib
web/themes/contrib

web/sites/settings.local.php

web/sites/default/files
private_files

/settings/example
/settings/settings.*.php
/settings/services.*.yml
!/settings/settings.kubernetes.php
!/settings/settings.proxy.php
!/settings/settings.trusted-hosts.php
!/settings/settings.elastic.php
