tmp
.idea/

drush/contrib/
drush/local
!drush/local/example.drush.yml

vendor/

web/core/
web/modules/contrib/
web/themes/contrib/
web/profiles/contrib/
web/libraries/
web/sites/*/files/
web/sites/simpletest

private_files/

.editorconfig
.gitattributes


####

settings/*.php
!settings/settings.proxy.php
!settings/settings.trusted-hosts.php
# As this is just a bootstrap file here with sensitive values fetched from the env we can and should add it to git.
!web/sites/default/settings.php
